.slide_wrap{
    /* background-color: #ff0; */
    width: 100%;
    height: 520px;
    background-image: url("imagefile/gray_img.PNG");
    background-size: cover;
}

.slide_content_wrap{
    width: 770px;
    height: 98%;
    box-shadow: 2px 7px 20px 0px rgba(46, 30, 30, 0.123);
    /* margin-left: 480px; */
    margin: auto;
    border-radius: 4px;
    background-color: #fff;
    display: flex;

}
.slide_content_col01{
    height: 100%;
    width: 35%;
}

.slide_content_col02{
    height: 100%;
    width: 65%;
}

.slide_content_col02 h1{
    font-size: 16px;
    margin-top: 25px;
}

.slide_content_col02 hr{
    display: inline-block;
}

#slide_content_h1{
    display: inline-block;
    text-decoration: 1px red underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 2px;
}

.slide_content_col02 h3{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}

#slide_content_col02_p1{
    font-size: 16px;
    margin-top: 20px;
}

#slide_content_col02_span{
    display: block;
    color: rgb(75, 74, 74);
    font-size: 17px;
    margin-top: 35px;
}

.slide_content_col02 p{
    margin-right: 19px;
    margin-top: 5px;
    line-height: 21px;
}

.slide_content_col02 button{
    width: 200px;
    height: 36px;
    margin: 18px 10px 0 0px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px #f00 solid;
    color: #f00;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s 0s ease;
}

.slide_content_col02 button:hover{
    color: #fff;
    background-color: #f00;
}

.slide_content_col02 a{
    text-decoration: none;
    color: #f00;
}

.slide_content_col02 a:hover{
    text-decoration: underline;
}

#dragonbro{
    height: 30%;
    width: 60%;
    border-radius: 50%;
    margin-left: 42px;
    margin-top: 20px;
    
}
#dragon_underimg{
    height: 10%;
    width: 80%;
    margin-left: 12px;
}


 /* 這是空白區塊 */
/* .demo{
    width: 100%;
    height: 500px;
} */