.center_text2_wrap{
    width: 100%;
    height: 320px;
    background-image: url(imagefile/center_text2_img.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* .center_text2_col{ */
    /* width: 20%;
    height: 15%;
    margin-left: 300px;
    margin-top: 120px; */

    /* width: 200px;
    margin-top: 150px;
    margin-left: 800px;
} */

.center_text2_col{
    /* width: 50%;
    margin-left: 410px;
    margin-bottom: 0px; */
    width: 950px;
    margin: auto;
}

.center_text2_col p{
    color: rgba(20, 17, 17, 0.808);
    line-height: 25px;
    font-size: 19px;
    margin-top: 35px;
    margin-left: 40px;
}

.center_text2_col h1{
    font-size: 32px;
    font-weight: 600;
    color: rgba(20, 17, 17, 0.808);
    text-align: center;
    margin-right: 750px;
    margin-top: 90px;
}
#center_text2_col_div{
    display: inline-block;
    text-decoration: #f00 underline;
    text-underline-offset: 14px;
    text-decoration-thickness: 2px;
}