.center_text2_wrap{
    width: 100%;
    height: 320px;
    background-color: #000;
    background-image: url(imagefile/center_text2_img.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.center_text2_col{
    width: 20%;
    height: 15%;
    margin-left: 300px;
    margin-top: 120px;
}

.center_text2_col h1{
    font-size: 32px;
    font-weight: 500;
    color: rgba(20, 17, 17, 0.808);
    text-align: center;
}
.center_text2_col_div{
    display: inline-block;
    text-decoration: #f00 underline;
    text-underline-offset: 14px;
    text-decoration-thickness: 2px;
}
.center_text2_col2{
    width: 50%;
    margin-left: 410px;
    margin-bottom: 0px;
}

.center_text2_col2 p{
    color: rgba(20, 17, 17, 0.808);
    line-height: 25px;
    font-size: 19px;
}