/* 這裡做超連結橫排後兩邊分開中間留白 */
.navi{
    background-color: #fff;
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
}
/* 這裡做紅寶石圖片和文字橫排和置中 */
.navi_a1{   
    margin: 22px;
    display: flex;
    align-items: center;
}

.navi_a2{
    margin: 22px;
}

.navi_a1 a{
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    transition: all 0.3s 0s ease;
}

.navi_a1 a:hover{
    color: #f00;
}

.navi_a1 img{
    width: 50px;
    height: 35px;
}

.navi_a2 a{
    margin: 16px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    transition: all 0.4s 0s ease;
}

.navi_a2 a:hover{
    color: #f00;
}