.three_col_wrap{
    width: 95%;
    height: 300px;
    margin-left: 43px;
}

.three_col_wrap_wrap{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.three_col{
    width: 480px;
    height: 100%;
    text-align: center;
    margin: 15px 0px;
}

.three_col img{
    width: 42%;
    height: 60%;
}

.three_col h1{
    font-size: 18px;
    font-weight: 500;
    color: rgba(20, 17, 17, 0.849);
    margin-bottom: 10px;
}

.three_col p{
    font-size: 16px;
    padding: 10px;
}
.three_col #three_col01_p02{
    font-size: 16px;
    margin-right: 10px;
    padding: 0px 70px;
}