.under_text_wrap{
    width: 100%;
    height: 400px;
    background-image: url("imagefile/button_under_img2.PNG");
    background-size: cover;
    background-position: center;
}

.under_text_content{
    width: 50%;
    height: 35%;
    margin-left: 160px;
    display: inline-block;
    margin-top: 270px;
}

.under_text_content h1{
    font-size: 32px;
    font-weight: 600;
}

.under_text_content span{
    text-decoration: #f00 underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 2px;
}

.under_text_content p{
    font-size: 20px;
    margin-top: 30px;
    line-height: 26px;
}

.three_col3_wrap{
    width: 100%;
    height: 470px;
    background-color: #F9FAFB;
}

.three_col3_wrap2{
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
}

.three_col3_col{
    width: 30%;
    height: 400px;
    background-color: #fff;
    margin: 25px 15px 15px 15px;
    border-radius: 8px;
    box-shadow: 2px 7px 20px 0px rgba(46, 30, 30, 0.123);
} 

.three_col3_col_content1{
    width: 100%;
    height: 195px;
    background-color: green;
    background-image: url(imagefile/three_col3_img01.png);
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0 0;
}

.three_col3_col_content1#three_col3_img02{
    background-image: url(imagefile/three_col3_img02.png);
    background-size: cover;
    background-position: center;
}

.three_col3_col_content1#three_col3_img03{
    background-image: url(imagefile/three_col3_img03.png);
    background-size: cover;
    background-position: center;
}

.three_col3_col_content2{
    width: 100%;
}

.three_col3_col_content2 h1{
    font-size: 20px;
    font-weight: 600;
    color: rgb(58, 57, 57);
    margin-top: 22px;
    margin-left: 17px;
}

.three_col3_col_content2 hr{
    margin-top: 15px;
    width: 90%;
}

.three_col3_col_content2 p{
    padding: 12px 20px;
    line-height: 26px;
}

.three_col3_col_content2 a{
    text-decoration: none;
    color: #FF133E;
    font-weight: 900;
    display: block;
    margin-left: 20px;
    margin-top: 5px;        
}
.three_col3_col_content2 a:hover{
    text-decoration: #f00 underline;
}
.three_col3_col_content2 a:after{
    content: "❯";
}
.three_col3_col_content2 a:hover:after{
    content: " ❯"
}

.three_col3_under_img{
    height: 360px;
    background-image: url("imagefile/three_col3_under_img.PNG");
    background-size: cover;
}

.three_col3_under_img h1{
    font-size: 30px;
    font-weight: 800;
    color: #394E50;
    display: inline-block;
    margin-top: 290px;
    margin-left: 690px;
}

.three_col3_under_img span{
    text-decoration: red underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
}