.slide_img{
    background-image: url(imagefile/slide_underimg.png);
    width: 100%;
    height: 265px;
    background-size: cover;
    background-position: center 0;
}

.center_text3_wrap{
    width: 100%;
    height: 430px;
    background-color: #29303E;  
}

.center_text3_wrap2{
    width: 2000px;
    height: 100%;
    margin: auto;
    display: flex;
}

.center_text3_col1{
    width: 603px;
    height: 30%;
    margin-left: 300px;
}

.center_text3_col1 h1{
    font-size: 30px;
    font-weight: 600;
    width: 40%;
    color: #fff;    
    margin-left: 90px;
    margin-top: 40px;
}

.center_text3_col1 span{
    text-decoration: #f00 underline;
    text-underline-offset: 16px;
    text-decoration-thickness: 2px;
}

.center_text3_col1 p{
    font-size: 19px;
    color: rgba(209, 218, 219, 0.671);
    margin-top: 35px;
    margin-left: 90px;
    padding: -200px 0px;
    line-height: 28px;
}

.center_text3_col2{
    width: 600px;  /* 42% 812 */
    height: 400px;      /* 88% */
    margin-left: 60px;
    margin-top: 0px;
    padding: 0px 10px 10px 10px;
    background-image: url("imagefile/center_text3_col2_img.png");
    background-size: cover;
    background-position: center 0;
}

.center_text3_col2 h1{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin-top: 130px;
    margin-left: 15px;
}

.center_text3_col2 p{
    color: #fff;
    font-size: 18px;
    margin-top: 20px;
    margin-left: 15px;
    line-height: 26px;
}

.center_text3_col2 a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    margin-top: 20px;
    margin-left: 15px;
    display: block;
}

.center_text3_col2 a:hover{
    text-decoration:1px underline #fff;
}

.text_4{
    width: 100%;
    height: 45px;
    background-color: #29303E;
}

.three_col2_col_content1 h1{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: -50px;
    left: 0;
}